.header
{
    display: flex;
    margin: 0vh 1vw;
    justify-content: space-between;
}
.header-logo
{
    width: 50%;
}
.header-items
{
    display: flex;
    gap: 1vw;
    align-self:center;
}
.header-item:hover
{
    color: #FE9A00;
}