.banner
{
    display: flex;
    overflow-x: hidden;
}
.banner-img
{
    max-width: 50%;

}
.banner-image
{
    width: 100%;
}
.banner-btn
{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
    background-color: #FE9A00;
    border-right: 1px solid white;
    padding: 1vh auto;
    font-weight: 600;
}