.checkoutproduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutproduct__info {
  padding-left: 20px;
}
.checkoutproduct__info > button {
  background: rgb(217, 136, 128);
  border: 1px solid;
  margin-left: 37%;
  border-color: rgb(120, 40, 31);
  color: white;
}
.checkoutproduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.checkoutproduct__rating {
  display: flex;
}
.checkoutproduct__title {
  font-size: 17px;
  font-weight: 800;
}
