.home {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}
.home__row {
  display: flex;
  z-index: 1;
  margin-left: 5px;
  margin-left: 5px;
}
.home__nowternding {
  text-align: center;
}
.home__categoriesheading {
  text-align: center;
}
.home__shopbybrand {
  display: flex;
}
.home__shopbybrandheading {
  text-align: center;
}
.home__shopbybrand__line {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
  .home__row {
    overflow-x: auto;
    margin-right: 5px;
  }
  .home__shopbybrand {
    display: flex;
    flex-direction: column;
  }
  .home__shopbybrand__line {
    display: flex;
  }
}

@media only screen and (max-width: 900px) {
  .home__row {
    overflow-x: auto;
  }
  .home__shopbybrand {
    display: flex;
    flex-direction: column;
  }
  .home__shopbybrand__line {
    display: flex;
  }
}
