.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 480px;
  min-width: 200px;
  border: 5px solid rgb(131, 145, 146);
  border-radius: 20px;
  z-index: 1;
}
.product__rating {
  display: flex;
}
.product__image {
  max-height: 310px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__addtocart {
  background: rgb(217, 136, 128);
  border: 1px solid;
  margin-left: 37%;
  border-color: rgb(120, 40, 31);
  color: white;
}
.product__price {
  margin-top: 2px;
}
.product__info {
  height: 425px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 600px) {
  .product {
    margin: 5px;
    padding: 5px;
    width: 60%;
    max-height: 300px;
    min-width: 60%;
  }
  .product__image {
    margin-top: 25px;
    padding-top: 30px;
    max-height: 180px;
    margin-bottom: 10px;
  }
  .product__title {
    font-size: 12px;
    font-weight: 600;
  }
}
@media only screen and (max-width: 900px) {
  .product {
    margin: 5px;
    padding: 5px;
    max-width: 40%;
    max-height: 500px;
    min-width: 80%;
  }
  .product__image {
    margin-top: 10px;
    padding-top: 10px;
    max-height: 250px;
    margin-bottom: 10px;
  }
  .product__title {
    font-size: 20px;
    font-weight: 600;
  }
  .product__addtocart {
    margin-bottom: 30px;
  }
}
