.shopbybrand {
  display: flex;

  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 95%;
  max-height: 390px;
  min-width: 80px;
  border: 1px solid black;
  z-index: 1;
}
.brand__image {
  max-height: 310px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.brand__info {
  height: 350px;
}
.brand__name {
  text-align: center;
  font-weight: 800;
  font-size: 24px;
}
@media only screen and (max-width: 600px) {
  .shopbybrand {
    display: flex;
    margin: 10px;
    padding: 20px;
    width: 45%;
    min-width: 100px;
    border: 1px solid black;
    z-index: 1;
  }
  .brand__image {
    margin-top: 5px;
    max-height: 200px;
    width: 100%;
    margin-bottom: 10px;
  }

  .brand__info {
    height: 170px;
  }
  .brand__name {
    font-weight: 800;
    font-size: 14px;
  }
}
