.subtotal {
  margin-left: 145%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: cornsilk;
  border: 1px solid black;
  border-radius: 3px;
}
.subtotal__gift {
  display: flex;
  align-items: center;
}
.subtotal__gift > input {
  margin-right: 5px;
}
.subtotal > button {
  background: chocolate;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: black;
}
